body {
	margin: 0;
}

/*Menu*/

#menu {
	width: 100%;
	position: fixed;
	background-color: #3399ff;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

li {
	float: left;
}

li a {
	display: block;
	text-decoration: none;
	padding: 13px 19px;
	text-align: center;
	color: white;

}

li a:hover {
	background-color: white;
	color: #3399ff;
}


/*Header*/


/*Information*/


/*Footer*/